.history {
    text-align: center;
}

.history li {
    list-style: none;
}

.history_item {
    font-size: 1.2vw;
    background: none;
    outline: none;
    border: none;
    color: rgb(1, 117, 17);
    text-shadow: 0.1vh 0.1vh rgb(24, 247, 255);
}

.history_div {
    width: 30vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 253, 255);
    margin: auto;
    margin-top: 1.5vh;
    outline: none;
    border: none;
    overflow-y: scroll;
}

.history_head {
    text-align: center;
    margin-top: 2vh;
    color: rgb(228, 21, 255);
    font-weight: bold;
}

/* Media Queries  */

@media only screen and (max-width: 480px) {
    .history_head {
        font-size: 3.8vw;
        margin-top: 3vh;
    }
    
    .history_div {
        height: 27vh;
    }

    .history {
        padding: 1.5vw;
    }

    .history_item {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .history_head {
        font-size: 3.3vw;
    }
    
    .history_div {
        height: 25vh;
        width: 27vw;
    }

    .history {
        padding: 1.5vw;
    }

    .history_item {
        font-size: 2.2vw;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .history_head {
        font-size: 3vw;
    }
    
    .history_div {
        height: 30vh;
        width: 20vw;
    }

    .history {
        padding: 1.2vw;
    }

    .history_item {
        font-size: 1.6vw;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .history_head {
        font-size: 3vw;
    }
    
    .history_div {
        height: 25vh;
        width: 20vw;
    }

    .history {
        padding: 1vw;
    }

    .history_item {
        font-size: 1.4vw;
    }
}

@media only screen and (min-width: 1201px) {
    .history_head {
        font-size: 2vw;
    }
    
    .history_div {
        height: 30vh;
        width: 15vw;
    }

    .history {
        padding: 0.4vw;
    }

    .history_item {
        font-size: 1vw;
    }
}