.btn {
    font-size: 1.5vw;
    font-weight: bold;
    min-width: 6vw;
    min-height: 11vh;
    padding: 1.5vw;
    outline: none;
    border-right: 0.3vh solid rgb(13, 31, 16);
    border-bottom: 0.3vh solid rgb(13, 31, 16);
    cursor: pointer;
}

.btn:active {
    border-style: outset;
}

.text_X {
    color: rgb(255, 45, 45)
}

.text_0 {
    color: rgb(42, 253, 52);
}

/* Media Queries  */

@media only screen and (max-width: 480px) {
    .btn {
        min-width: 10vw;
        min-height: 7vh;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .btn {
        min-width: 11vw;
        min-height: 9vh;
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .btn {
        min-width: 10vw;
        min-height: 10vh;
        font-size: 2vw;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .btn {
        min-width: 8vw;
        min-height: 11vh;
        font-size: 2vw;
    }
}